<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Settings</h1>
    <div class="buttons">
      <button class="button button-balanced" ng-click="doSettings()">Done</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="doSettings()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Time</span>
          <input type="number" ng-model="settingsData.time">
        </label>
        <label class="item item-input">
          <span class="input-label">Warning</span>
          <input type="number" ng-model="settingsData.warning">
        </label>
        <label class="item item-input">
          <span class="input-label">Rest</span>
          <input type="number" ng-model="settingsData.rest">
        </label>
        <label class="item item-input">
          <span class="input-label">Rounds</span>
          <input type="number" ng-model="settingsData.rounds">
        </label>
        <ion-list>
          <ion-item class="item-divider">
            Wakelock
          </ion-item>
           <ion-radio name="wakeLock" ng-model="settingsData.wakeLock" ng-value="'bright'">Bright</ion-radio>
           <ion-radio name="wakeLock" ng-model="settingsData.wakeLock" ng-value="'dim'">Dim</ion-radio>
           <ion-radio name="wakeLock" ng-model="settingsData.wakeLock" ng-value="'none'">None</ion-radio>
        </ion-list>
        <ion-list>
          <ion-item class="item-divider">
            Sounds
          </ion-item>
           <ion-radio name="soundIndex" ng-repeat="(soundKey, soundPackage) in availableSounds" ng-model="settingsData.soundIndex" ng-value="soundKey">{{soundPackage.name}}</ion-radio>
        </ion-list>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
