<ion-view class="timer {{timerStatus}}">
  <!-- <img class="bg-image" src="img/bg-time.png" /> -->
  <div class="bg-image"></div>
  <ion-content>
  	<div class="card">
	    <h1>{{currentTime.seconds | secondsToDateTime | date:'mm:ss'}}</h1>
    </div>
    <button class="button button-positive icon-left" ng-class="{'ion-play' : timerStatus == 'paused','ion-pause' : timerStatus != 'paused'}" on-tap="togglePlayPause()">Play/Pause</button>
    <button class="button button-assertive icon-left ion-refresh" on-tap="resetTimer()">Reset</button>
  </ion-content>
</ion-view>
